<%= /* https://github.com/mde/ejs */ %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ホビー</title>
  </head>

  <body>
    <% hobbyItems.forEach((hobby) => { %>
      <p><%= hobby %></p>
    <% }) %>

    <br><br>
    <a href="selectsample.html">戻る</a>
  </body>
</html>